<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Formulario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item id="formulario">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-input placeholder="Título" [(ngModel)]="titulo"></ion-input>
      <ion-button (click)="buscarPelicula()">Buscar</ion-button>
    </ion-item>
    <ion-progress-bar type="indeterminate" *ngIf="cargando"></ion-progress-bar>

    <ion-list [inset]="true" *ngIf="pelicula">
      <ion-item>
        <ion-icon aria-hidden="true" name="film" slot="start"></ion-icon>
        <ion-label>{{pelicula?.Title}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon aria-hidden="true" name="calendar" slot="start"></ion-icon>
        <ion-label>{{pelicula?.Year}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon aria-hidden="true" name="person-circle" slot="start"></ion-icon>
        <ion-label>{{pelicula?.Director}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon aria-hidden="true" name="location" slot="start"></ion-icon>
        <ion-label>{{pelicula?.Country}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-img *ngIf="pelicula" src="{{pelicula?.Poster}}" id="poster"></ion-img>
      </ion-item>
    </ion-list>
</ion-content>